---
layout: default
---
<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
<section class="main" >
  <section id="article">
    <div class="index">
      <div class="index-intro">
        <h1>¡Hola!</h1>
        <p>
          Aprende HTML y CSS de una forma fácil y comprensible, con esta colección de ejercicios y tutoriales para el Ciclo Superior de Desarrollo de Aplicaciones Multiplataforma en el Juan XXIII.
        </p>
      </div>
      <div class="index-column">
        <!-- <ul>
          {% for post in site.posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul> -->
      </div>
    </div>
  </section>
  <!-- End article -->
</section>
<!-- End main -->
