#masthead {
  min-height: 40vh;
  background-image: url("../../images/masthead-pattern.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.masthead-container h1 {
  font-size: 3rem;
  flex: 1;
  color: white;
}

.masthead-info {
  color: $main-gray;
  display: inline-block;
  span {
    padding: 0 .5rem;
    &:first-child {
      padding-left: 0;
    }
  }
}
